<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/krebs-supervisorio/source/krebs-agente/src/br/com/krebs/agente/teste/BInjetoraTeste.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.krebs.agente.teste.BInjetoraTeste"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="krebs-supervisorio"/>
</launchConfiguration>
